<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastrar Usuário</title>
  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />
</head>

<div class="w-screen h-screen flex justify-center items-center bg-gray-100">
  <form
    method="POST"
    action="../controller/controller_cadastrar.php"
    class="
      p-10
      bg-white
      rounded
      flex
      justify-center
      items-center
      flex-col
      shadow-md
    "
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-20 w-20 text-black"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
      />
    </svg>
    <p class="mb-5 text-3xl uppercase text-gray-600">Cadastrar</p>
    <input
      type="text"
      name="nome"
      class="mb-5 p-3 w-80 focus:border-gray-700 rounded border-2 outline-none"
      autocomplete="off"
      placeholder="Nome"
      required
    />
    <input
      type="email"
      name="email"
      class="mb-5 p-3 w-80 focus:border-gray-700 rounded border-2 outline-none"
      autocomplete="off"
      placeholder="Email"
      required
    />
    <input
      type="password"
      name="senha"
      class="mb-5 p-3 w-80 focus:border-gray-700 rounded border-2 outline-none"
      autocomplete="off"
      placeholder="Senha"
      required
    />
    <button
      class="
        bg-gray-600
        hover:bg-gray-900
        text-white
        font-bold
        p-2
        rounded
        w-80
      "
      id="Cadastrar"
      type="submit"
      name="acao"
    >
      <span>Cadastrar</span>
    </button>
  </form>
</div>
