<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clube do Livro</title>
  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />
</head>

<div class="flex justify-center items-center w-screen h-screen bg-gray-800">
  <div class="container mx-auto mt-10 mb-10 lg:mb-40 lg:px-20">
    <div class="relative w-full my-4 lg:w-9/12 mr-auto rounded-2xl shadow-2xl">
      <img
        alt="Card"
        src="https://images.unsplash.com/photo-1598024055266-e772a5f8c128?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="max-w-full rounded-lg shadow-lg"
      />
    </div>
    <div
      class="
        relative
        w-full
        lg:-mt-96 lg:w-3/6
        p-8
        ml-auto
        bg-gray-500
        rounded-2xl
        z-50
      "
    >
      <div class="flex flex-col text-white">
        <div class='flex items-center'>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="text-gray-200 fill-current w-12 h-12 md:w-16 md:h-16"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
            />
          </svg>
          <p class="ml-4 text-4xl font-mono">
            Clube do Livro
          </p>
        </div>
        <p class="text-white my-5 px-2">
          A leitura é uma fonte inesgotável de prazer, mas, por incrível que pareça, a quase totalidade não sente esta sede.
        </p>
        <button
          class="
            p-2
            pl-5
            pr-5
            bg-white
            text-black text-lg
            rounded-lg
            focus:border-4
            border-blue-300
          "
        >
          <a href="frm_logar.html">Entrar na minha conta</a>
        </button>
        <button
        class="
          p-2
          mt-4
          pl-5
          pr-5
          bg-white
          text-black text-lg
          rounded-lg
          focus:border-4
          border-blue-300
        "
      >
        <a href="frm_cadastro.html">Ainda não tem uma conta? Cadastre-se!</a>
      </button>
      </div>
    </div>
  </div>
</div>
